.pos{
    width: 3rem;
    height: 3rem;
    border: solid .0625rem #000;
    background-repeat: no-repeat;
    background-size: 60% 60%;
    background-position: center center;
}
@media screen and (max-width: 500px){
    .pos{
        width: 2.25rem;
        height: 2.25rem;
    }
}
@media screen and (max-width: 410px){
    .pos{
        width: 2rem;
        height: 2rem;
    }
}