.main{
    width: 60vw;
}
@media screen and (max-width: 1200px){
    .main{
        width: 70vw;
    }
}
@media screen and (max-width: 900px){
    .main{
        width: 80vw;
    }
}
@media screen and (max-width: 700px){
    .main{
        width: 95vw;
    }
}
h1{
    margin: 0;
    font-size: max(5vmin, 2.5rem);
}
.panel{
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1.5rem 0;
}
.controller{
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
.button{
    height: 3rem;
    width: 6rem;
    font-size: 1.1rem;
    transition-property: background-color, border;
    transition-duration: .2s;
    transition-timing-function: ease;
    border: none;
    background-color: #a5cee9;
    border-radius: .5rem;
    border: solid .125rem #5eb2e9;
    cursor: pointer;
}
.button:hover{
    background-color: #5eb2e9;
    border: solid .125rem #2b7cb2;
}
.button:active{
    background-color: #81bee7;
    border: solid .125rem #47a2df;
    transition-duration: .1s;
}
.button:disabled{
    background-color: lightgrey !important;
    border: solid .125rem #a3bccd;
    cursor: unset;
}